<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abdullah.getdone">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Navbar" />
        <activity android:name=".activity_dtl_task" />
        <activity android:name=".Login" />
        <activity android:name=".sign_up" />
        <activity android:name=".offer" />
        <activity android:name=".update_posted" />
        <activity android:name=".update_profile" />
        <activity android:name=".about_us" />
        <activity android:name=".terms" />
        <activity android:name=".contact_us" />
    </application>

</manifest>